<div style="margin:10px;">
<button class="btn btn-primary" ui-sref="main.merCateList">返回商品类型列表</button>
</div>
 <label  class="text-danger" style="font-size:30px;color:#ccc;">修改商品类型</label>
<br/>
<!-- 修改 -->
	<form novalidate name="myUpdateMerCateForm" ng-submit="updateMerCateForm()">
    <label  class="text-danger">※商品类型名</label>
  <div class=" comment-input-margin">
    <input type="text" class=" comment-input" ng-model="merCate.name" name="name" required ng-minlength="1" ng-maxlength="16" placeholder="1-16位">
    <div class="text-danger alert alert-danger " ng-show="myUpdateMerCateForm.name.$dirty && myUpdateMerCateForm.name.$invalid">
				    	<i class="glyphicon glyphicon-info-sign"></i>输入正确商品类型标题
				    </div>
  </div>
  <input type="submit" class="btn btn-lg btn-danger" 
  ng-disabled="myUpdateMerCateForm.$invalid || formDisabled" value="提交"/>
</form>
<!-- 修改end-->