	<div  class="comment-wrap "  >
			<!-- <div class='loadAnimation' style="padding-top:105px !important;width:100%;height:100%;z-index:99999999;position:fixed;left:0;top:0;background:linear-gradient(to bottom, #fff ,#ececec)" > -->
			<div class='loadAnimation' style="padding-top:105px !important;width:100%;height:100%;z-index:99999999;position:fixed;left:0;top:0;background:linear-gradient(to bottom, #fff ,#fff)" >
				<div class="text-center">
				<img alt="" style="width:100%;" src="http://img.newzhuan.cn/uploaderPath/img/20171012/15077771426357259452972994.gif">
				</div>
			</div>
		<!-- 最热必玩  版面类型，1最热必玩，2热门推荐，3，H5专栏-->
		<div style="padding:0 3%;" ng-if="type1AppList.length>0">
		<div style="display:inline-block;margin-bottom:1px;">
	        <span style="font-weight:bold;font-size:1.1rem">
	        最热必玩
	        </span>
	    </div>
	    <div class="swiper-container" style="margin:auto;text-align:center;">
		    <div class="swiper-wrapper">
				<div  class="listGroup list-group swiper-slide" style="width:30%;display:inline-block;margin:1% 1%;" ng-repeat="app in type1AppList" on-finish-render-filters  ng-click="clickApp(app)">
					<div  style="width:100%;">
					<div class="media-left" style="vertical-align:middle;width:100%;padding-right:0 !important;display:inline-block;">
						 <img class="comment-list-item-img"
							ng-src="{{app.imgAddress}}" >
								<span style="font-size:1rem;overflow: hidden;display:-webkit-box;-webkit-line-clamp:1;-webkit-box-orient:vertical;text-overflow:ellipsis;font-size:0.8rem;text-align:center;" ng-bind="app.title"></span>
						<!-- <a href="#" style="padding:5px 0 !important;position: relative;left: 0;top:0;display:inline-block;width:100%;">
						</a> -->
					</div> 
					</div>
				</div>
		      <div class="swiper-slide"></div>
		    </div>
		 </div>
		</div>			
	    <!-- 最热必玩end -->
	    <!-- H5专栏-->
		<div style="padding:0 3%;">
		<div style="margin-bottom:1px;text-align:center">
	        <span style="font-weight:bold;font-size:1.1rem">
	        H5专栏
	        </span>
	    </div>

		<!-- 第二列表 -->
		<div >
		<div  class="listGroup list-group  media comment-list-item"  ng-repeat="app in type3AppList" on-finish-render-filters  ng-click="clickApp(app)">
			<div  style="width:100%;">
			<div class="media-left"  style="vertical-align:middle;width:33%;padding-right:0 !important;display:inline-block;">
				 <img class="comment-list-item-img"
					bn-lazy-src="{{app.imgAddress}}" >
			</div> 
			<div class="media-body comment-right-body" style="display:inline-block;width:65%;padding-left:0.3rem;">
				<div class="pull-left">
					<div class="comment-right-body-title">
						<span style="font-size:1rem;overflow: hidden;display:-webkit-box;-webkit-line-clamp:1;-webkit-box-orient:vertical;text-overflow:ellipsis;font-weight:bold;font-size:1.2rem" ng-bind="app.title"></span>
						<span style="font-size:1rem;overflow: hidden;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;text-overflow:ellipsis;color:#35caef;font-size:0.8rem;text-indent:1rem;" ng-bind="app.summary"></span>
					</div>
				</div>
			</div>
			</div>
		</div>
		</div>
				 		
		</div>
	    <!--H5专栏end -->	
		</div>			
		
		<!-- 底部 -->
		<div style="width:100%;height:50px;"></div>