<!-- 导航 -->
<div style="max-width:640px;
  -webkit-transform: translate(-50%,0);  
      -ms-transform: translate(-50%,0);  
          transform: translate(-50%,0); width:100%;height:50px;background-color:#fff;position:fixed;left:50%;bottom:0;border:1px solid #ececec;font-size:10px;">
  <span ng-repeat="navbar in navbars" ng-click="navbarClick(navbar)" style="width:20%;display:inline-block;text-align:center;margin-top:5px;">
  	<span style="display:inline-block;">
  		<img ng-src="{{currentShow==$index?navbar.activeicon:navbar.icon}}" style="height:30px;"/>
  	</span>
  	<span ng-bind="navbar.title" ng-style="{color:(currentShow==$index)?'#000':'#ccc'}"  style="width:100%;height:20px;display:inline-block"></span>
  </span>
</div>	
<!-- end导航 -->