<!DOCTYPE html>
<html>
<head>
<title>推广API</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport"
	content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
<meta name="keywords" content="API列表">
<meta charset="UTF-8">
<meta name="description"
	content="API列表">
	<link rel="shortcut icon" href="http://img.newzhuan.cn/uploaderPath/img/20170907/15047652539005249544896312.png" />
<link href="/resources/css/bootstrap.min.css" rel="stylesheet">
<link href="/resources/css/sellerbase.css" rel="stylesheet">
<style>
th,tr,td{
text-align:center;
font-size:0.5rem;
}
</style>
</head>

<body ng-app="indexApp">
	<div ng-controller="indexCtrl"  style="margin:auto;max-width:1200px;">

<!-- API标题-->
<div style="margin:10px;">
	 <div  class="text-danger" style="font-size:30px;color:#ccc;text-align:center;">API接口文档</div>
	
</div>
<!-- API标题 end-->
<div class="btn-group" role="group">
  <button type="button" class="btn btn-danger" ng-click="changeButton(0)" ng-disabled="showNum==0" >代码返回值</button>
  <button type="button" class="btn btn-info"  ng-click="changeButton(1)"  ng-disabled="showNum==1">七秒请求接口</button>
  <button type="button" class="btn btn-primary"  ng-click="changeButton(2)"  ng-disabled="showNum==2">兑换请求接口</button>
</div>
<!-- API列表 -->
 	<div style="width:100%">
			<table class="table table-bordered" ng-show="showNum==0" style="width:100%;background-color: #fff;">
			<thead>
			<tr>
			  <th>返回代码</th>
			  <th>结果</th>
			</tr>
			</thead>
			<tbody>
				<tr ng-repeat="codeMsg in codeMsgList" >
				  <td >
				  	<span ng-bind="codeMsg.code"></span>
				  </td>
				  <td >
				  <span ng-bind="codeMsg.msg"></span>
				  </td>
				</tr>
			</tbody>
			</table>
			<table class="table table-bordered" ng-show="showNum>=1" style="width:100%;background-color: #fff;">
			<thead>
			<tr>
			  <th>接口类</th>
			  <th>接口方法名</th>
			  <th>请求类型</th>
			  <th>请求地址URL</th>
			  <th>请求参数</th>
			</tr>
			</thead>
			<tbody>
				<tr ng-repeat="api in apiList" >
				  <td >
				  	<span ng-bind="api.controllerName"></span>
				  </td>
				  <td >
				  <span ng-bind="api.methodName"></span>
				  </td>
				  <td >
				  <span ng-repeat="rt in api.requestType">
				  	<span ng-bind="rt"></span>
				  </span>
				  <span ng-if="api.requestType<=0">
				  	<span>GET/PUT/POST/DELETE</span>
				  </span>
				  </td>
				  <td >
				  <span ng-bind="api.requestUrl"></span>
				  </td>
				  <td >
				  	<span ng-bind="api.methodParamTypes"></span>
				  </td>
				</tr>
			</tbody>
			</table>
		</div>
		<!-- 加载更多 -->
  <!--  <div >
    <ul class="pagination " >
    <li><a ng-click="toPage('首页')" >首页</a></li>
    <li class="previous" ><a ng-click="toPage('previous')" >&larr;</a></li>

    <li ng-repeat="currentPageNumber in showPageNumberArray"><a ng-click="toPage(currentPageNumber)" ng-class="{active:currentPageNumber==currentPage}">{{currentPageNumber}}</a></li>

    <li class="next"  ><a ng-click="toPage('next')" >&rarr;</a></li>
    <li><a ng-click="toPage('尾页')" >尾页</a></li>
    <li> <span>总页数：{{totalPage}}</span></li>
    <li><span>总数：{{totalNumber}}</span></li>
    </ul>
   </div> -->
<!--  加载更多end -->

</div>
	<!-- 页面列表end -->
	<script src="/resources/js/jquery2.1.js"></script>
	<script src="/resources/js/bootstrap3.2.0.js"></script>
	<script src="/resources/js/angularjs.min.1.5.7.js"></script>
	<script src="/resources/js/echarts.common.min.js"></script>
	<script src="/resources/js/domainManager.js"></script>
	<script src="/resources/js/base.js"></script>
	<script>
	$(function(){
	//获取data-src
	$("img").each(function(index){
		if($(this).attr("data-src")){
			$(this).attr("src",$(this).attr("data-src"));
		}
	});
	//$("#loadAnimationBody").css("display","none");
	});
    	var indexApp=angular.module('indexApp',[]);
    	  indexApp.filter("dateDiff",function(){
                return function(dateTimeStamp){
                    return myUtils.getDateDiff(dateTimeStamp);
                }
            });
       
					
    	indexApp.controller('indexCtrl',function($scope){
    	$.ajaxSetup({async:false});
    	$scope.sevenSecondsDomainUrl="http://"+domainManager.SevenSeconds;
    	//$scope.sevenSecondsDomainUrl="http://"+location.host;
    	$scope.convertMallDomainUrl="http://"+domainManager.ConvertMall+"/tool";
    	//$scope.convertMallDomainUrl="http://"+location.host+":8080/tool";
    	function roleInit(){
    	$.ajax({
    		url:"/acount/islogin",
    		async:false,  
    		success:function(data){
       			if(data.code=='200'){
       			$scope.sessionAcount=data.list[0];
				if($scope.sessionAcount.roleId!=1000){
       			location.replace("/seller/index.html");
				}
       			return;
       			}
       			location.replace("/seller/index.html");
       	}});
    	}
    	roleInit();
    	
     function apiInit(domainUrl){
     $.get(domainUrl+"/getAPI",function(pld){
           $scope.apiList=pld.list;
			 //console.log($scope.apiList)
               }); }
     apiInit($scope.sevenSecondsDomainUrl);
     
   $scope.codeMsgList=[
   {code:200,msg:'成功'},
   {code:40000,msg:'失败'},
   {code:40001,msg:'账户已存在'},
   {code:40004,msg:'敏感词'},
   {code:50001,msg:'缺少参数'},
   {code:50002,msg:'参数格式错误'},
   {code:60000,msg:'请求频次过快'},
   {code:70000,msg:'没有权限'},
   {code:80000,msg:'没有认证'}
   ];
   $scope.showNum=0;//默认为0
   $scope.changeButton=function(showNum){
   $scope.showNum=showNum;
   if(showNum==1){
    apiInit($scope.sevenSecondsDomainUrl);
   }
   if(showNum==2){
    apiInit($scope.convertMallDomainUrl);
   }
   };

       });
    </script>
</body>
</html>
