<!-- 活动列表选择 -->
<div style="margin:10px;">
<label  class="text-danger nieyueText" style="font-size:30px;color:#ccc;">活动列表</label>
</div>
<!-- 活动列表选择end -->
<!-- 活动列表 -->
		<div style="width:100%" class="tableWrap">
			<table class="table table-bordered" style="width:100%">
			<tr>
			  <th>序号</th>
			  <th>活动ID</th>
			  <th>活动图片</th>
			  <th>类型</th>
			  <th>活动名</th>
			  <th>活动对象</th>
			  <th>简介</th>
			  <th>数据</th>
			  <th>状态</th>
			  <th>活动时间</th>
			  <th>创建时间</th>
			  <th>更新时间</th>
			  <th >操作</th> 
			</tr>
			<tr ng-repeat="activity in activityList.list" >
			  <td >
			  <span ng-bind="(currentPage-1)*pageNumber+$index+1"></span>
			  </td>
			  <td >
			  <span  ng-bind="activity.activityId"></span>
			  <a   class="btn btn-success" ui-sref="main.activityUserList({activityId:activity.activityId})">活动用户</a>
			  </td>
			  <td >
				 <img class=" comment-list-item-img " style="margin-top:3px;width:75px;height:100px;"
					ng-src="{{activity.imgAddress}}" >
			  </td>
			  <td >
			  <span ng-bind="activity.activityCate.name"></span>
			  </td>
			  <td >
			  <span ng-bind="activity.title"></span>
			  </td>
			  <td >
			  <span ng-bind="activity.target"></span>
			  </td>
			  <td >
			  <span style="color:#999" ng-bind="activity.summary"></span>
			  </td>
			  <td style="text-align:left;white-space:nowrap ">
			  <div>pv:<span style="color:#999" ng-bind="activity.pvs"></span></div>
			  <div>uv:<span style="color:#999" ng-bind="activity.uvs"></span></div>
			  <div>ip:<span style="color:#999" ng-bind="activity.ips"></span></div>
			  <div>阅读:<span style="color:#999" ng-bind="activity.readingNumber"></span></div>
			  <div>
				<a class="btn btn-success btn-xs"  href="{{mainDomainUrl}}/activity_platform_data.html?activityId={{activity.activityId}}">
				数据链接
				</a>
			  </div>
			  </td>
			  <td >
			  <span  ng-bind="activity.status==1?'上架':activity.status==0?'下架':''"></span>
			  </td>
			  <td >
			  <span ng-bind="activity.startDate"></span>-
			  <span ng-bind="activity.endDate"></span>
			  </td>
			  <td >
			  <span ng-bind="activity.createDate"></span>
			  </td>
			  <td ng-bind="activity.updateDate"></td>
			 <td >
			  <button class=" btn btn-default" ng-click="activityLink(activity)">链接</button>
			  <button class=" btn btn-warning" ng-click="updateActivity(activity)">修改</button>
			  <!-- <button class=" btn btn-danger" ng-click="delActivity(activity)">删除</button> -->
			  </td>
			</tr>
			</table>
		</div>
<!-- 活动列表end -->
	<!-- 页面列表end -->
<!-- 加载更多end -->
   <div >
    <ul class="pagination " >
    <li><a ng-click="toPage('首页')" >首页</a></li>
    <li class="previous" ><a ng-click="toPage('previous')" >&larr;</a></li>

    <li ng-repeat="currentPageNumber in showPageNumberArray"><a ng-click="toPage(currentPageNumber)" ng-class="{active:currentPageNumber==currentPage}">{{currentPageNumber}}</a></li>

    <li class="next"  ><a ng-click="toPage('next')" >&rarr;</a></li>
    <li><a ng-click="toPage('尾页')" >尾页</a></li>
    <li> <span>总页数：{{totalPage}}</span></li>
    <li><span>总数：{{totalNumber}}</span></li>
    <li>
    <select style="width:100px;height:34px;" ng-model="currentPage" ng-change="toPage(currentPage)"   ng-options="currentPage as currentPage for currentPage in showAllPageNumberArray"> 
    </select>
    </li>
    </ul>
   </div>
<!--  加载更多end -->
