  <!--首页通知 -->
<div class="container-fuild">
		<div class="seller-notes-title"><span>|</span>公告消息</div>
		<div class="seller-notes-body">
		<div class="seller-notes-body-warp">
			<a class="seller-notes-body-article" style="color:#000;">欢迎来到七秒后台系统！</a>
			<div class="seller-notes-body-time" >
				<span>当前时间：</span>
				<span ng-bind="currentDate"></span>
			</div>
		</div>
		<div style="border:1px dashed #ececec;">
		七秒网站：<a style="color:green;" target="_blank"  href="{{ssDomainUrl}}/qimiao/index.html">
						{{ssDomainUrl}}/qimiao/index.html
						</a>
			<div>cnzz数据链接:<a style="color:green;" target="_blank"  href="http://new.cnzz.com/v1/login.php?siteid=1260946323">
						http://new.cnzz.com/v1/login.php?siteid=1260946323
						</a>
			</div>
			<div>cnzz数据密码:123456</div>
		</div>
		</div>
</div>
