<div style="margin:10px;">
<button class="btn btn-primary" ui-sref="main.appCateList">返回应用类型列表</button>
</div>
 <label  class="text-danger" style="font-size:30px;color:#ccc;">修改应用类型</label>
<br/>
<!-- 修改 -->
	<form novalidate name="myUpdateAppCateForm" ng-submit="updateAppCateForm()">
    <label  class="text-danger">※应用类名</label>
  <div class=" comment-input-margin">
    <input type="text" class=" comment-input" ng-model="appCate.name" name="name" required ng-minlength="1" ng-maxlength="16" placeholder="1-16位">
    <div class="text-danger alert alert-danger " ng-show="myUpdateAppCateForm.name.$dirty && myUpdateAppCateForm.name.$invalid">
				    	<i class="glyphicon glyphicon-info-sign"></i>输入正确应用类型标题
				    </div>
  </div>
  <input type="submit" class="btn btn-lg btn-danger" 
  ng-disabled="myUpdateAppCateForm.$invalid || formDisabled" value="提交"/>
</form>
<!-- 修改end-->