<!-- 任务工作列表选择 -->
<div style="margin:10px;">
<label  class="text-danger nieyueText" style="font-size:30px;color:#ccc;">任务工作列表</label>
</div>
<!-- 任务工作列表选择end -->
<!-- 任务工作列表 -->
		<div style="width:100%" class="tableWrap">
			<table class="table table-bordered" style="width:100%">
			<tr>
			  <th>序号</th>
			  <th>任务组</th>
			  <!-- <th>任务名</th> -->
			  <th>cron表达式</th>
			  <th>任务描述</th>
			  <th>业务ID</th>
			  <th>业务类型</th>
			  <th>状态</th>
			  <th>创建时间</th>
			  <th>更新时间</th>
			  <th >操作</th> 
			</tr>
			<tr ng-repeat="scheduleJob in scheduleJobList.list" >
			  <td >
			  <span ng-bind="(currentPage-1)*pageNumber+$index+1"></span>
			  </td>
			  <td >
			  <span ng-bind="scheduleJob.jobGroup"></span>
			  </td>
			  <!-- <td >
			  <span ng-bind="scheduleJob.jobName"></span>
			  </td> -->
			  <td >
			  <span ng-bind="scheduleJob.cronExpression"></span>
			  </td>
			  <td >
			  <span ng-bind="scheduleJob.description"></span>
			  </td>
			  <td >
			  <span ng-bind="scheduleJob.jobId"></span>
			  </td>
			  <td >
			  <span ng-if="scheduleJob.type==1" class="alert-info">文章推送</span>
			  <span ng-if="scheduleJob.type==2" class="alert-warning">书籍推荐</span>
			  </td>
			  <td >
			  <span ng-if="scheduleJob.jobStatus=='PAUSED'" class="alert-warning">暂停</span>
			  <span ng-if="scheduleJob.jobStatus=='NORMAL'" class="alert-success">正常</span>
			  </td>
			  <td ng-bind="scheduleJob.createDate"></td>
			  <td ng-bind="scheduleJob.updateDate"></td>
			 <td >
			 <button class=" btn btn-warning" ng-click="updateScheduleJob(scheduleJob)">修改</button> 
			  <button class=" btn btn-danger" ng-click="delScheduleJob(scheduleJob)">删除</button>
			  </td>
			</tr>
			</table>
		</div>
<!-- 任务工作列表end -->
	<!-- 页面列表end -->
<!-- 加载更多end -->
   <div >
    <ul class="pagination " >
    <li><a ng-click="toPage('首页')" >首页</a></li>
    <li class="previous" ><a ng-click="toPage('previous')" >&larr;</a></li>

    <li ng-repeat="currentPageNumber in showPageNumberArray"><a ng-click="toPage(currentPageNumber)" ng-class="{active:currentPageNumber==currentPage}">{{currentPageNumber}}</a></li>

    <li class="next"  ><a ng-click="toPage('next',platform,status)" >&rarr;</a></li>
    <li><a ng-click="toPage('尾页')" >尾页</a></li>
    <li> <span>总页数：{{totalPage}}</span></li>
    <li><span>总数：{{totalNumber}}</span></li>
    <li>
    <select style="width:100px;height:34px;" ng-model="currentPage" ng-change="toPage(currentPage)"    ng-options="currentPage as currentPage for currentPage in showAllPageNumberArray"> 
    </select>
    </li>
    </ul>
   </div>
<!--  加载更多end -->
