    <label  class="text-danger nieyueText" style="font-size:30px;color:#ccc;">添加金融类型</label>
<br/>
<!-- 增加 -->
	<form novalidate name="myAddFinancialCateForm" ng-submit="addFinancialCateForm()">
    <label  class="text-danger">※金融类名</label>
  <div class=" comment-input-margin">
    <input type="text" class=" comment-input" ng-model="financialCate.name" name="name" required ng-minlength="1" ng-maxlength="16" placeholder="1-16位">
    <div class="text-danger alert alert-danger " ng-show="myAddFinancialCateForm.name.$dirty && myAddFinancialCateForm.name.$invalid">
				    	<i class="glyphicon glyphicon-info-sign"></i>输入正确金融类名
				    </div>
  </div>
  <input type="submit" class="btn btn-lg btn-danger" 
  ng-disabled=" myAddFinancialCateForm.$invalid || formDisabled " value="提交"/>
</form>
<!-- 增加 end-->