<div style="margin:10px;">
<button class="btn btn-primary" ui-sref="main.financialCateList">返回金融类型列表</button>
</div>
 <label  class="text-danger" style="font-size:30px;color:#ccc;">修改金融类型</label>
<br/>
<!-- 修改 -->
	<form novalidate name="myUpdateFinancialCateForm" ng-submit="updateFinancialCateForm()">
    <label  class="text-danger">※金融类名</label>
  <div class=" comment-input-margin">
    <input type="text" class=" comment-input" ng-model="financialCate.name" name="name" required ng-minlength="1" ng-maxlength="16" placeholder="1-16位">
    <div class="text-danger alert alert-danger " ng-show="myUpdateFinancialCateForm.name.$dirty && myUpdateFinancialCateForm.name.$invalid">
				    	<i class="glyphicon glyphicon-info-sign"></i>输入正确金融类型标题
				    </div>
  </div>
  <input type="submit" class="btn btn-lg btn-danger" 
  ng-disabled="myUpdateFinancialCateForm.$invalid || formDisabled" value="提交"/>
</form>
<!-- 修改end-->